@CHARSET "UTF-8";

#media-imagemap {
  position: relative;
  clear: both;
}

#media-imagemap ,
#imagemap-edit {
  float: left;  
}

.imagemap-edit-x,
.imagemap-edit-y {
	display: none;
}

#imagemap-edit {
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  margin-left: 20px;
  padding: 5px;
}

.imagemap-edit-description {
  display: block;
  margin-bottom: 20px;
}

#media-imagemap a.bullet {
  background: transparent url(images/bullet.png) 50% 50% no-repeat;
  display: block;
  width: 12px;
  height: 11px;
  position: absolute; left: 0; top: 0;
  outline: none;
}

.imagemap-button {
  background-color: #DEDEDE; 
  border: 1px solid #ABABAB;
  padding: 3px 5px;
  margin-right: 10px;
}

a .imagemap-hover-text {
  position: absolute; left: 0; top: 0; z-index: 1; 
  display: block;
  padding: 6px 10px;
  width: 160px;
  color: #FFFFFF;
  background: transparent url(images/tooltip-bg.png) 0 0 repeat;
}

a.bullet span span {
  display: block;
  height: 9px;
  width: 9px;
  background: transparent url(images/tooltip-arrow.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
a.bullet .top-left span {
  background-position: 0 100%;
}
a.bullet .top-right span {
  background-position: 100% 100%;
}
a.bullet .bottom-left span {
  background-position: 0 0;
}
a.bullet .bottom-right span {
  background-position: 100% 0%;
}

a.bullet:hover,
a.bullet:active,
a.bullet:focus {
  text-decoration: none !important;  
}